Package: com.artikus.playcli
Name: playcli
Depends: mobilesubstrate
Version: 1.0.2
Architecture: iphoneos-arm
Description: Command-line tool to play audio files (playback is done by the SpringBoard though).
Maintainer: ArtikusHG
Author: ArtikusHG
Section: Terminal Support